@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

nav {
    background: #1d262d;
    height: 80px;
    width: 100%;
}

.logo {
    max-height: 55px;
    max-width: fit-content;
    vertical-align: middle;
}

nav ul {
float: right;
margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
}