/* CSS Document */
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf" format="truetype");

html, body
{
margin: 0;
padding: 0;
background-color: black;
background-image: url('assets/indexBackground.png');
color: white;
height: 100%;
font-family: 'Poppins', sans-serif;
text-align: center;
}
.logo
{
  width: 100px;
  display: block;
  margin: auto;
}
a
{
  color: white;
  text-decoration: none;
  transition: text-decoration 0.25s;
}
.vcenter
{
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(rbga(0, 0, 0, 1) rgba (0, 0, 0, 0));
}
.widthLimiter
{
  width: 400px;
  max-width: 100%;
  margin: auto;
}
.treeElement
{
  border: 2px white solid;
  padding: 0.5em;
  text-align: center;
  margin: 0.5em;
  transition: background 0.25s;
}
.treeElement:hover
{
  background: rgba(255, 255, 255, 0.25);
}
.treeElement:active
{
  background: rgba(255, 255, 255, 0.125);
}
.treeImage
{
  max-height: 1em;
  vertical-align: center;
}
.subtitle
{
  font-size: 9pt;
}
.subtitle a:hover
{
text-decoration: underline;
}
.subtitle a:active
{
  color: #c0c0c0
}