@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
}

li, a, button {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    max-height: 50px;
    max-width: 1000px;
    background-color: #24252A;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252A;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 139, 0.8);
}

h1 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 64px;
    font-weight: bold;
}

p {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 24px;
    font-weight: 400;
}